<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

 <!-- old stuff usin spring security thymeleaf
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                -->
        <footer>
        <!-- this is footer -->
        &copy; 2018 some dude in footer
        	<span th:text="${session.user} ?: _">no user authenticated</span>
            <span th:if="${session.containsKey('user')}">
	          	<span th:if="${session.containsKey('user')}" th:text="${session.user}"></span>
	          	<span th:if="${session.containsKey('roles')}" th:text="${session.roles}"></span>
	            <a th:if="${session.containsKey('user')}" th:href="@{/logout}">Sign Out</a>
       		</span>
        </footer>
    </div>

</div>
</body>
</html>